# GRAILS files
/web-app/WEB-INF
/target
build/
.gradle/
/target-eclipse

# IDE files
.classpath
.idea/
.project
.settings
/*.launch
/*.tmproj
storage/
*.log
*.zip
*.iml
*.sha1
/out
plugin.xml
.DS_Store
